<div class="embed-container {% if content.classes %}{{ content.classes }}{% endif %} {% if content.type %}{{ content.type }}{% endif %}">
  {% if content.title %}
    <p class="image-title">{{ content.title }}</p>
  {% endif %}
  <table width=100% >
    <tr width=100%>
  {% if content.type == "image" %}
      <td width=50%>
    <img {% if content.caption %}class="captioned"{% endif %} src={{ content.embed | relative_url }} alt={{ content.embed }}>
      </td><td width=50%>
  {% else %}
    {% if content.type == "svg" %}
      <td width=50%>
      <object type="image/svg+xml" data="{{ content.embed | relative_url }}"></object>
      </td><td width=50%>
    {% else %}
      <td width=100%>
      <iframe src="{{ content.embed | relative_url }}" width="100%" height="{{ content.height }}" scrolling="no" frameBorder="0"></iframe>
      </td>
    {% endif %}
  {% endif %}
  {% if content.caption %}
    <p class="image-caption {% if content.caption_style %}{{ content.caption_style }}{% endif %}">{{ content.caption }}</p>
      </td>
  {% endif %}
    </tr>
  </table>
</div>
