<div class="end confirmationSuccess">
<p>
  {{ content.header }}
  <h5>
  	{{ content.text }}
  </h5>
  </p>
  
  <img alt="closing-image" src="{{ content.closing_image | relative_url }}">
	<ol style="text-align: left;">
		<li>Connect to the hotspot by selecting a wifi network called “Verdigris JBEXXXXXXXX”. </li><br>
		<li>Open any web browser, navigate to connect.verdigris.co, and follow the onscreen instructions.</li><br>
		<li>At the last step, select Wifi or 4G LTE network connectivity.
		<ul>
			<li><b>Wifi:</b> Identify the network name and enter the password.</li>
			<li><b>4G/LTE:</b> The system should connect automatically.</li>
		</ul>
		<li>
			Your system is commissioned and ready to save you money.
		</li>
	</ol>

</div>
