<div class="end confirmationSuccess">
<p>
  {{ content.header }}
  <h5>
  	{{ content.text }}
  </h5>
  </p>

  <img alt="closing-image" src="{{ content.closing_image | relative_url }}">
	<ol style="text-align: left;">
		<li>在您的手機或平板上連結到無線網路基地台，SSID "Verdigris JBEXXXXXXXX"。</li><br>
		<li>打開任何瀏覽器，連接到 http://v.co ，並依畫面指示操作</li><br>
		<li>最後一步，選擇資料發射器的連線方式 ( Wifi 或 LTE)：
		<ul>
			<li><b>Wifi:</b> 連結到 Wifi 基地台的 SSID 並輸入密碼。</li>
			<li><b>4G/LTE:</b> 系統應該已自動建立連線。</li>
		</ul>
		<li>
			您的系統已完成安裝並設置完畢，請稍待約 6 小時後，至 https://app.verdigris.co 審閱您的能耗分析。
		</li>
	</ol>

</div>
