<div class="end confirmationSuccess">
<p>
  {{ content.header }}
  <h5>
  	{{ content.text }}
  </h5>
  </p>

  <img alt="closing-image" src="{{ content.closing_image | relative_url }}">
	<ol style="text-align: left;">
		<li>在您的手机或平板上链接到无线网络基地台，SSID "Verdigris JBEXXXXXXXX"。</li><br>
		<li>打开任何浏览器，连接到 http://v.co ，并依画面指示操作</li><br>
		<li>最后一步，选择数据发射器的连接方式 ( Wifi 或 LTE)：
		<ul>
			<li><b>Wifi:</b> 链接到 Wifi 基地台的 SSID 并输入密码。</li>
			<li><b>4G/LTE:</b> 系统应该已自动创建连接。</li>
		</ul>
		<li>
			您的系统已完成安装并设置完毕，请稍待约 6 小时后，至 https://app.verdigris.co 审阅您的能耗分析。
		</li>
	</ol>

</div>
