<div class="lang-select">
  <center>
    {% assign moreLang = 0 %}
  {% for p in site.pages %}
    {% if p.title contains 'Start' and p.lang != '' %}
      {% if moreLang == 0 %}
        {% assign moreLang = 1 %}
      {% endif %}

      {% for content in page.content %}
      {% if content.my_lang == site.data.languages[p.lang].icon %}
    <a href="{{site.url}}{{p.url}}" class="pressed-lang-icon">
      <img src="{{ site.data.languages[p.lang].pressed_icon_url }}" >
    </a>
      {% else %}
    <a href="{{site.url}}{{p.url}}" class="lang-icon">
      <img src="{{ site.data.languages[p.lang].icon_url }}" >
    </a>
      {% endif %}
      {% endfor %}

    {% endif %}
  {% endfor %}
  </center>
</div>
<div class="landing-image-container">
<center>
  <div class="landing-image" style="background-image: url('{{ content.landing_image | relative_url }}');">
    <div >
      <div class="logo-container">
        <img alt="logo" src="{{ content.logo | relative_url }}">
      </div>
    <!--
      <h1>{{ content.title }}</h1>
      <p>{{ content.version }}</p>
    -->
    </div>
		<div class="ellipse">
		</div>
  </div>
</div>
</center>
<div class="scrollbox-container">
  <img alt="scroll" src="{{ content.scroll_image | relative_url }}">
</div>
<div class="spacer"></div>
