<div class="lang-select">
  <center>
    {% assign moreLang = 0 %}
  {% for p in site.pages %}
    {% if p.title contains 'Start' and p.lang != '' %}
      {% if moreLang == 0 %}
        {% assign moreLang = 1 %}
      {% endif %}
      {% for content in page.content %}
      {% if content.my_lang == site.data.languages[p.lang].icon %}
    <a href={{p.url}}>
      <img src="{{ site.data.languages[p.lang].pressed_icon_url }}" >
    </a>
      {% else %}
    <a href={{p.url}}>
      <img src="{{ site.data.languages[p.lang].icon_url }}" >
    </a>
      {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  </center>
</div>
<div class="landing-image-container">
  <div class="landing-image" style="background-image: url('{{ content.landing_image | relative_url }}');">
    <!--
    <div class="banner">
      <div class="logo-container">
        <img alt="logo" src="{{ content.logo | relative_url }}">
      </div>
      <h1>{{ content.title }}</h1>
      <p>{{ content.version }}</p>
    </div>
    -->
  </div>
</div>
<div class="scrollbox-container">
  <p>{{ content.scroll_text }}</p>
  <img alt="scroll" src="{{ content.scroll_image | relative_url }}">
</div>
<div class="spacer"></div>
