.sidebar {
  $black-clear: rgba(0, 0, 0, .08);

  @include flex-center;
  @include justify-content(flex-start);
  position: relative;
  z-index: 1;
  display: none;
  float: left;
  width: 40px;
  height: 100%;
  background-color: $white-off;
  box-shadow: inset -4px 0 8px 0 $black-clear;

	.sidebar-logo {
		position: relative;
		top: 10px;
		margin-bottom: 100px;
	
	}

	.separator-container {
		position: relative;
		width: 100%;
		height: 12px;
		margin-top: 10px;
		top: 6px;
		left: 19px;

		.separator {
			position: relative;
			width: 0;
			height: 16px;
			border: 1px solid $gray;
			background: $gray;
		}

		&.visited .separator {
			border: 1px solid $green;
			background: $green;
		}
	
	}


  .indicator-container {
    position: relative;
    width: 100%;
    height: 8px;
    padding: 4px 0;
    margin-top: 16px;

/*
    &.active::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 16px;
      background-color: $green;
      content: '';
    }
*/

    .indicator {
			position: relative;
      width: 22px;
      height: 22px;
			font-size: 80%;
      margin: 0 auto;
      background-color: $gray-light;
      border-radius: 50%;
			span {
				color: $black;
				text-align: center;
				vertical-align: middle;
				line-height: 22px;
			}
    }


    &.visited .indicator {
      background-color: $green;
			span {
				color: $white;
				text-align: center;
				vertical-align: middle;
				line-height: 22px;
			}
    }
  }
}
