$black: #4a4a4a;

$blue: #358cf1;
$blue-azure: #26a4df;

$brown: #694834;

$gray: #9d9d9d;
$gray-light: #ddd;

$green: #0fc8c3;

$orange: #db6a0b;

$red: #b51226;

$white: #fff;
$white-off: #f9f9f9;

$yellow: #f5e71c;
