<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ page.title }} | Verdigris</title>
    <meta name="description" content="Verdigris enables smart buildings through AI and properitary real-time energy monitoring hardware. Learn how Verdigris can help your save money by finding inefficiencies in your energy use.">
    <meta name="keywords" content="verdigris, data, machine learning, ai, alerts, harware, software,">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@VerdigrisTech">
    <meta name="twitter:title" content="{{ page.title }} | Verdigris">
    <meta name="twitter:description" content="Verdigris enables smart buildings through AI and properitary real-time energy monitoring hardware. Learn how Verdigris can help your save money by finding inefficiencies in your energy use.">
    <meta property="og:title" content="{{ page.title }} | Verdigris">
    <meta property="og:description" content="Verdigris enables smart buildings through AI and properitary real-time energy monitoring hardware. Learn how Verdigris can help your save money by finding inefficiencies in your energy use.">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Verdigris">
    <meta property="og:type" content="product">
    <meta itemprop="name" content="{{ page.title }} | Verdigris">
    <meta itemprop="description" content="Verdigris enables smart buildings through AI and properitary real-time energy monitoring hardware. Learn how Verdigris can help your save money by finding inefficiencies in your energy use.">
    <link rel="shortcut icon" href="{{ '/img/favicon.png' | relative_url }}" type="image/x-icon">
    <link rel="icon" href="{{ '/img/favicon.png' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
    <script async src="{{ '/js/scroll.js' | relative_url }}"></script>
    <script async src="{{ '/js/select.js' | relative_url }}"></script>
    <script async src="{{ '/js/color-picker.js' | relative_url}}"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-JJT6NLD617"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-JJT6NLD617');
	</script>
  </head>
  <body class="nontouch">
    {{ content }}
  </body>
</html>
